<!-- footer.hbs -->
<footer class="flex row space-between wrap gap-x3" tabindex="0">
    <section class="flex row start start-items gap-x3">{{> "our-locations"}}</section>
    <section class="flex row end">{{> "our-social-media"}}</section>
    <section>
        <pre>&copy; Copyright 2023&period; All rights reserved&period;</pre>
        <pre>Brought to you with <span class="red" title="love">&hearts;</span> by <a href="{{@site.url}}" title="{{@site.title}}">{{@site.title}}</a>&period;</pre>
    </section>
</footer>