<!-- our-locations.hbs -->
<article class="flex start-items">
    <header><h4 role="heading" aria-level="4">Dubai</h4></header>
    <div class="flex start-items">
        <h5 itemprop="name">{{@site.title}}</h5>
        <address>Unit 27, Alserkal Avenue<br />Dubai, UAE</address>
        <a href="tel:+97145474118" data-rel="external" itemprop="telephone">04 5474 118</a>
        <a href="tel:+971585925667" data-rel="external" itemprop="telephone">058 5925 667</a>
        <a href="callto:+971585925667">Call</a>
        <a href="skype:ziad.anani?call">Skype Now</a>
        <a href="mailto:zanani@zawyeh.net">zanani@zawyeh.net</a>
    </div>
</article>
<article class="flex start-items">
    <header><h4 role="heading" aria-level="4">Ramallah</h4></header>
    <div class="flex start-items">
        <h5 itemprop="name">{{@site.title}}</h5>
        <address>7A President's roundabout<br />Ramallah, Palestine</address>
        <a href="tel:+97022426486" data-rel="external" itemprop="telephone">02 2426 486</a>
        <a href="tel:+970599150049" data-rel="external" itemprop="telephone">059 9150 049</a>
        <a href="callto:+970599150049">Call</a>
        <a href="mailto:yhussein@zawyeh.net">yhussein@zawyeh.net</a>
    </div>
</article>