<!-- our-locations.hbs -->
<article class="flex start-items" tabindex="0">
    <header><h4 role="heading" aria-level="4">Dubai</h4></header>
    <div class="flex start-items">
        <span>Unit 27, Alserkal Avenue</span>
        <span>Dubai, UAE</span>
        <span>+971 4 547 4118</span>
        <span>+971 585 925667</span>
        <span><a href="mailto:zanani@zawyeh.net">zanani@zawyeh.net</a></span>
    </div>
</article>
<article class="flex start-items" tabindex="0">
    <header><h4 role="heading" aria-level="4">Ramallah</h4></header>
    <div class="flex start-items">
        <span>7A President's roundabout</span>
        <span>Ramallah, Palestine</span>
        <span>+970 2 242 6486</span>
        <span>+970 599 150049</span>
        <span><a href="mailto:yhussein@zawyeh.net">yhussein@zawyeh.net</a></span>
    </div>
</article>