<!-- our-social-media.hbs -->
<div class="flex row-x gap-x2">
    <figure class="social-icon">
        <a href= "#" title="Artsy">{{> "icons/artsy"}}</a>
    </figure>
    <figure class="social-icon">
        <a href= "#" title="Facebook">{{> "icons/facebook"}}</a>
    </figure>
    <figure class="social-icon">
        <a href= "#" title="Instagram">{{> "icons/instagram"}}</a>
    </figure>
    <figure class="social-icon">
        <a href= "https://github.com/sabuein/z23" title="GitHub" target="_blank">{{> "icons/github"}}</a>
    </figure>
</div>