<!-- subscribe.hbs -->
<form method="post" class="subscribe-form">
    <fieldset class="flex row gap-x2">
        <legend><h4 role="heading" aria-level="4">Join our mailing list&excl;</h4></legend>
        <div class="flex row gap-x2">
            <input type="text" name="name" minlength="7" maxlength="30" autocomplete="name" placeholder="Your name&hellip;" required />
            <input type="email" name="email" autocomplete="email" placeholder="Your email address&hellip;" required />
        </div>
        <div class="flex row gap-half">
            <input type="submit" value="Subscribe" />
            <input type="reset" value="Reset" />
        </div>
    </fieldset>
</form>