<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{ghost_head}}
</head>
<body>
    <header>
        <h1>First header&hellip;</h1>
    </header>
    <main>
        <header><h2>Second header&hellip;</h2></header>
    </main>
    <footer>
        <p>Site footer&hellip;</p>
    </footer>
    {{ghost_foot}}
</body>
</html>