/* Core Ghost */

#ghost-portal-root {
    user-select: none;
}

.kg-width-wide {
    width: 100%;
}

.kg-width-full {
    width: 100%;
}

/* Main stuff */

:root {
    --yellow: #ffdd00;
    --green: #00703c;
    --red: #d4351c;
    --gray: #f3f2f1;
    --darkgray: #1f1f1f;
    --blue: #1d70b8;
    --black: #0b0c0c;
    --white: #ffffff;
    --default-max-width: 1920px;
    --default-max-width: 1660px;
    --default-font-size: 19px;
    --ghost-accent-color: #1d70b8;
    --whitergb: 255,255,255;
}

*,
::before,
::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    -webkit-locale: "en";
    direction: ltr;
    display: block;
}

head {
    display: none;
}

body {
    display: block;
    margin: 0 auto;
    padding: 0 5rem;
    height: auto;
    width: var(--default-max-width);
    max-width: 100%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: var(--default-font-size);
    opacity: 1;
    letter-spacing: .16rem;
    text-transform: uppercase;
}

header.site-header {
    padding: 1rem 0 2rem;
    border-bottom: thin solid var(--darkgray);
}

/* header.site-header figure a {
    pointer-events: none;
} */

header.site-header img {
    width: 198px;
}

main {
    margin: 4rem 0;
    width: 100%;
    clear: both;
    zoom: 1;
}

li.nav-current {
    border-bottom: thick solid var(--darkgray);
}

li.nav-current a {
    margin-bottom: 2rem;
}

footer {
    margin: 2rem 0 3rem;
    width: 100%;
}

footer pre {
    font-size: .85rem;
    white-space: pre-line;
}

pre a:visited, pre a:link {
    color: var(--black);
    text-decoration: underline;
}

body > footer {
    margin: 1rem 0 10rem;
}

body > footer > section:last-child {
    width: 100%;
    flex-grow: 9;
    text-align: center;
}

.skipnav {
    text-align: start;
    margin: 1.5rem 0 2rem;
}

a:link {
    padding: .25rem 0;
    color: var(--blue);
    text-decoration: none;
    line-height: 1.25;
    cursor: pointer;
}

a:visited {
    color: var(--blue);
}

:is(nav, .item-title) a:is(:link, :visited) {
    color: var(--darkgray);
    white-space: nowrap;
}

:is(.item-title) a:is(:link, :visited) {
    white-space: pre-line;
}

a:hover {
    color: var(--black);
}

a:focus {
    color: var(--black);
    border-bottom: thick solid var(--black);
    margin-bottom: 1rem;
    background-color: var(--yellow);
    outline: thin solid var(--black);
}

a:active {
    color: var(--blue);
}

button,
input,
input[type="button"] {
    color: var(--gray);
    background-color: var(--green);
}

.footer-post form {
    padding: 2rem 0;
    border: thin solid var(--darkgray);
    border-left: none;
    border-right: none;
    width: 100%;
}

.footer-post legend {
    width: 100%;
    flex-grow: 9;
    margin-bottom: 2rem;
    text-align: center;
}

.footer-post input {
    padding: 1rem;
    font-size: 1.25rem;
    color: var(--darkgray);
    background-color: var(--gray);
    border: thin solid var(--darkgray);
}

.footer-post input:is([type="text"], [type="email"]) {
    width: 33ch;
}

select,
textarea {
    color: var(--black);
    background-color: var(--gray);
}

button,
input[type="button"] {
    user-select: none;
}

button#goTopBtn {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--ghost-accent-color);
    color: var(--white);
    cursor: pointer;
    padding: .25rem;
    border-radius: 999px;
    font-size: 1.25rem;
    height: 5rem;
    width: 5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 16px -2px;
    transition: background-color 0.3s ease;
}

button#goTopBtn:hover {
    background-color: rgba(var(--ghost-accent-color), 0.08);
    color: var(--black);
}

input:disabled {
    cursor: not-allowed;
}

.tip {
    color: var(--gray);
}

.skipnav a {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skipnav a:active,
.skipnav a:focus {
    position: static;
    left: 0;
    width: auto;
    height: auto;
    overflow: visible;
    text-decoration: underline;
    background-color: black;
    color: white;
}

header {
    margin: 0;
    width: 100%;
}

ol, ul {
    clear: both;
    -webkit-font-smoothing: antialiased;
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: square;
}

li {
    display: list-item;
    font-weight: 400;
    text-align: -webkit-match-parent;
}

nav ul {
    width: 100%;
    list-style-type: none;
}

blockquote, q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

img {
    object-fit: cover;
    pointer-events: none;
}

a img {
    border: 0;
}

figure {
    text-align: center;
}

figure.item-figure {
    width: 345px;
    height: 345px;
}

/*figure.item-figure:hover {
    scale: 1.2;
}

figure.item-figure:hover::after {
    content: attr(title);
}*/

figure.item-figure img {
    width: 100%;
    height: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1,
h2 {
    font-weight: 700;
}

h1:focus,
h2:focus, 
h3:focus,
h4:focus,
h5:focus,
h6:focus {
    outline: 0;
}

p {
    overflow-wrap: break-word;
}

/* Helper classes */

.flex {
    /*position: absolute;
    inset: 0;*/
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.row-x {
    flex-direction: row;
}

.row {
    flex-direction: row;
}

.wrap {
    flex-wrap: wrap;
}

.gap-x1 {
    gap: 1rem;
}

.gap-x2 {
    gap: 2rem;
}

.gap-x2-5 {
    gap: 2.5rem;
}

.gap-x3 {
    gap: 3rem;
}

.gap-x4 {
    gap: 4rem;
}

.gap-x5 {
    gap: 5rem;
}

.start {
    justify-content: flex-start;
}

.start-items {
    align-items: flex-start;
}

.end {
    justify-content: flex-end;
}

.space-between {
    justify-content: space-between;
}

/* Theme classes */

progress#reading-progress {
    display: block;
    position: fixed;
    inset: 0;
    width: 100%;
}

footer article {
    width: 100%;
}

footer div {
    width: max-content;
}

.social-icon a {
    margin-bottom: 1rem;
}

.social-icon svg {
    width: 48px;
    height: 48px;
    filter: grayscale(100%);
}

.social-icon:hover svg {
    filter: none;
}

.social-icon a:focus svg {
    filter: none;
    border: thin solid var(--black);
    background-color: var(--yellow);
    outline: thin solid var(--black);
    /* border: thin solid var(--black); */
    border-bottom: thick solid var(--black);
}

article:is(.category-content, .list-artists-names) {
    margin: 2rem 0;
}

article:is(.category-content, .list-artists-names) > div {
    width: 100%;
}

article.post {
    width: 100%;
}

.categories-post {
    width: 100%;
}

.category-item {
    scale: 1;
    opacity: 1;
    transform: none;
    transition: opacity .4s ease-in-out, transform .8s cubic-bezier(.45,0,.27,1);
    transition: opacity 2.5s cubic-bezier(.18,1,.21,1), transform 4s cubic-bezier(.18,1,.21,1);
}

.list-artists-names .category-item {
    flex-basis: 23%;
}

.category-content .category-item {
    margin: 0 0 2rem;
    flex-basis: 345px;
}

.paintings-post,
.category-title {
    margin: 0 0 2.75rem;
}

.paintings-post h2 {
    margin: 0 0 .5rem;
}

.category-title::after {
    content: "";
    border-top: thin solid var(--darkgray);
    flex-grow: 1;
    display: block;
}

.category-content .item-title {
    margin: .85rem 0 0;
}

/* Magic */

.magic {
    opacity: 0;
    transform: translateY(120px);
    transition: none;
}

/* laptops and mobile devices */

@media screen and (max-width: 1660px) {
    article:is(.category-content, .list-artists-names) > div {
        justify-content: center;
    }
}

@media screen and (max-width: 1580px) {
    :root {
        --default-max-width: 1280px;
    }
}

@media screen and (max-width: 1280px) {
    :root {
        --default-max-width: 1080px;
    }

    body {
        padding: 0 3rem;
    }

    .category-content .category-item {
        flex-basis: 300px;
    }

    figure.item-figure {
        width: 300px;
        height: 300px;
    }
}


@media screen and (max-width: 720px) {
    :root {
        --default-max-width: 650px;
    }

    body {
        padding: 0 1.5rem;
    }

    .row {
        flex-direction: column;
    }

    .category-content .category-item {
        flex-basis: unset;
        width: 100%;
    }

    figure.item-figure {
        width: 100%;
    }
}

/* big screens 1920px or more */
/*
@media screen and (max-width: 2220px) {
    :root {
        --default-max-width: 1920px;
    }
}
*/
/* Up to 3000px for ultra-large monitors */
/*
@media screen and (max-width: 3300px) {
    :root {
        --default-max-width: 3000px;
    }
}
*/
/* TO-DO: more media */

@media (scripting: none) { /* No JavaScript */ }
@media (scripting: initial-only) { /* printed pages, or pre-rendering */ }
@media (scripting: enabled) { /* All is good! */ }